* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
}

.grid {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(16, 3vw);
    grid-template-rows: repeat(16, 3vw);
}

.square {
    box-shadow: 0 0 0 1px black;
}

.hovered {
    background-color: black;
}